<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div *ngIf="isLoading" style="text-align: center">
      <app-recipe-spinner></app-recipe-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="obSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-Mail
        </label>
        <input
          id="email"
          type="text"
          class="form-control"
          ngModel
          name="email"
          required
          email>
      </div>
      <div class="form-group">
        <label for="password">Password
        </label>
        <input
          id="password"
          type="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="6"
        >
      </div>

      <div class="row">
        <div class="col-xs-12">
          <app-alert [message]="error?.message"
                     [detailMessage]="error?.detailMessage" *ngIf="error"></app-alert>
<!--          <div class="panel panel-danger" *ngIf="error">-->
<!--            <div class="panel-heading">-->
<!--              <h3>An error occurred <span class="badge pull-right" aria-hidden="true">{{ error?.status }}</span></h3>-->
<!--            </div>-->
<!--            <div class="panel-body">-->
<!--              <h4>{{ error?.message }}</h4>-->
<!--              <p>{{ error?.detailMessage }}</p>-->
<!--              <hr/>-->
<!--              <button type="button" class="btn-lg btn-block btn-danger" (click)="onHandleError()">Close Error</button>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div>
            <button
              class="btn-block btn btn-primary"
              type="submit"
              [disabled]="authForm.invalid"
            >{{ isLoginMode ? 'Login' : 'Sign Up' }}
            </button>
          </div>
        </div>

        <div class="col-xs-6">
          <div>
            <button class="btn-block btn btn-primary" type="button" (click)="onSwitchMode()">Switch
              to {{ isLoginMode ? 'Sign Up' : 'Login' }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
