<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="OnAddIngredient(ingredientForm)" #ingredientForm="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            ngModel
            required
          >
        </div>
        <div class="col-sm-5 form-group">
          <label for="indication">indication</label>
          <input
            type="text"
            id="indication"
            class="form-control"
            name="indication"
            ngModel
            required
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="name">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            name="amount"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
            min="1"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button id="addIngredient" class="btn btn-success" type="submit" [disabled]="ingredientForm.invalid">{{ editMode == true ? 'Update' : 'Add' }}</button>
          <button id="deleteIngredient" class="btn btn-danger" type="button" (click)="onDeleteItem()" *ngIf="this.editMode">Delete</button>
          <button id="clearInput" class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
